html,body{
    width:100%;
    height:100%;
    margin: 0;
    min-height: 500px;
}
#top{
    margin:0px;
    padding: 5px 15px 0 50px;
    border-bottom: 1px solid gainsboro;
    z-index: 1;
}

#content_wrap{
    width: 100%;
    height: 100%;

    margin-top: -71px;
    position: relative;
}

#content{
    position: absolute;
    top:50%;
    left: 50%;
    width:900px;
    height: 400px;
    min-height: 400px;
    margin-left: -450px;
    margin-top: -164px;     /*top为-71px,所以这个值要为(400-71)/2=164 */
}
#description{       /*网站描述区*/
    width: 520px;
    height: 100%;
}

#description, #login{
    position: relative;
    float: left;
}

#login{             /*登录区*/
    width : 358px;
    height: 100%;
    border: 1px solid #a0b1c4;
    background-color: white;
}

#login .title{      /*登录区——标题*/
    height: 50px;
    background-color: #f9fbfe;
    border-bottom: 1px solid #c0cdd9;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 30px;
}

#login input{       /*登录区-文本框*/
    margin: 10px 20px 10px 20px;
    border: 1px solid #96a5b4;
}

#login input[type="text"],#login input[type="password"]{
    width: 308px;
    height: 38px;
    padding-left: 10px;
}
#login input[type="submit"]{
    width: 273px;
    height: 40px;
    margin: 10px 40px 10px 40px;
    background-color: #6AA2E0;
    color: white;
    border: 0 solid white;
    font-size: 20px;
}

#register-btn,#advice-btn,#forget-btn{
    cursor: pointer;
}

#register-btn:hover,#advice-btn:hover,#forget-btn:hover{
    color:#0078e7;
}


form .vError,form .vMessage {
	margin-top: 2px;
	margin-left:20px;
	min-height: 12px;
	font-size:12px;
	color: #BD1A00;
	font-weight: bold;
}
